@tailwind base;
@tailwind components;
@tailwind utilities;

nav.sticky {
    @apply py-1
}
nav {
    transition: padding 200ms;
}

.border {
    border-width:2px
}

.border-box {
    border-width:2px
}

.active2 {
    @apply text-black font-bold
}

.activespan {
    @apply bg-primary visible
}

.skills-boxes {
    @apply flex justify-center space-x-3 items-center bg-white bg-opacity-85 backdrop-blur-sm px-4 py-3 rounded-lg border border-black shadow-lg
}

.language-box {
    @apply flex justify-center space-x-2 items-center px-2 py-1 rounded-lg bg-base-200 border-box border-black
}

.project-box {
    @apply bg-white bg-opacity-85 backdrop-blur-sm border border-black shadow-md rounded-box
}

.bg-opacity-85 {
    --tw-bg-opacity: 0.85;
}

